<div class="bigImage">
	No et perdis més esdeveniments<br><br>AskOut t'ho posa fàcil
</div>

<div class="content">
	<div class="box">
		<div class="in">
			<br>
			Tant si vols sortir a prendre alguna cosa amb amics o amb companyia nova
			<br><br>
			<i class="fa fa-beer" style="font-size:48px"></i>
		</div>
	</div>
	<div class="box">
		<div class="in socialPoint">
			<p> Com si el que vols és conèixer gent nova amb gustos semblants als teus	</p>
			<i class="fa fa-users" style="font-size:48px"></i>
		</div>
	</div>
	<div class="box">
		<div class="in">
			<br>
			<a href="#">Aquesta és la teva aplicació</a>
			<br><br>
			<a href="#"><img src="assets/img/google_play_icon.png" width="200"></a>
		</div>
	</div>
</div>